* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box; /* added SH*/
}
body {
    background-color: #FDF5F5;
}
h1 {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(229, 142, 239); /* changed color JR */
}
h2 {
    padding: 10px;
    background-color: rgba(255, 192, 197, 0.5); /* added transparency SH
    background-color: rgba(255, 192, 197, 0.5);
    /* background-color:rgb(229, 142, 239); changed color JR */
    color: rgb(255, 255, 255);
}
p {
    display: flex;
    width: 70%;
    text-align: justify;
    background-color: rgb(229, 142, 239, 0.5);
    margin-left: 5px;
}
h3 {
    width: 100%;
    text-align: center;
    background-color: turquoise
}
.location {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 60%;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color: rgb(229, 142, 239);
}
.dropdown-content {
    display: flex; /* added SH*/
    text-align: center;
    justify-content: center;
}
/* #userMakeup {
    /* background-image: url(../images/makeup1.jpg); /*changed to image
    background-repeat: no-repeat;
    background-position: left ;
    background-color: rgb(229, 142, 239);  /*changed color JR
    width: 100%; }*/
#headerDiv{
    background-image: url(../images/makeup5.jpg); /*changed header to have background image SH*/
    background-position: left;
    width: 100%;
}
#makeupDiv{
    background: url(../images/makeup1.jpg) no-repeat 0 50%; /*changed to image JR MB SH*/
    background-repeat: no-repeat;
    background-position: left ;
    background-color: rgb(229, 142, 239); /* changed color JR*/
    width: 100%;
}
.form-select {
    display: flex;
    height: 30px;
    width: 100px;
    border: 5px solid rgb(0, 0, 0); /*changed color JR*/
    margin: 15px;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 15px 5px; /*add margin SH*/
}
.start {
    text-align: center; /* added SH*/
    height: 50px;
    width: 200px;
    padding: 10px;
    background-color: rgb(229, 142, 239);
    box-shadow: 5px 5px 10px 5px;
}
@media only screen and (max-width: 414px) {
    /* .location {
        margin: 10px 10px 10px 10px;
        align-items: center;
        justify-content: center;
    } */
    h3 {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
    }
    p {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: smaller;
        text-align: justify;
        width: 90%;
    };
}
@media only screen and (min-width: 415px) and (max-width: 820px) {
    /* body {
        background-color: aqua;
    } */
/*
    .images background-image {
        opacity: 0.4;
    } */
    .location {
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        width: 40%;
    }
    h3, p {
        margin-left: auto;
        margin-right: auto;
        padding: 2px;
    };
};
/* .form-select {
    margin: 5px 5px 15px 5px;
} */
/* #favcolor {
    background-color: red;
}
/*
#skintone {
    background-color: yellow;
}
#lipstick {
    background-color: blue;
}
#eyeshadow:hover {
    background-color: green;
}
/* #results {
    background-color: aqua;
}
 */